# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Packaging
*.egg-info/
dist/
build/

# C++ build
build/
*.so
*.dylib
*.dll
*.a
*.o

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs
logs/
*.log

# Emacs
*~

# macOS
.DS_Store